@import "../../scss/foundation/variables";

.subscribe {
    background: url("../../assets/subscribe.svg");
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__wrapper {
        z-index: 2;
        padding: 8rem 19.3rem;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: $play;
        gap: 1.6rem
    }

    &__input__div {
        padding-top: 1rem;
        display: flex;
        justify-content: center;
        position: relative;
        align-items: center;

    }

    &__input {
        padding: 1.6rem 33.9rem 1.6rem 2.6rem;
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $grey;
        font-family: inherit;
        border-radius: 1px;
        outline: none;
        border:none;
        
    }

    &__btn {
        padding: 1.45rem 2.4rem;
        border:none;
        font-family: $play;
        background-color: $orange;
        color: $brown;
        font-weight: $bold;
        font-size: 2.2rem;
        border-radius: 4px;
        cursor: pointer;
        position: absolute;
        right:0rem;


    }

    &__btn:hover {
        opacity: 0.8;
        transition: all .5s ease;
    }
}

.subscribe::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#603809;
    opacity: 80%;
    z-index: 1;
}