@import "../../scss/foundation/_variables.scss";


.discover__wrapper {
    display: flex;
    flex-direction: row;
    padding: 8.2rem 9.3rem;
    gap: 9.5rem;
    align-items: flex-start;
    justify-content: center;
}

.discover {
    display: flex;
    flex-direction: column;
    gap: 2.9rem;
    align-items: flex-start;
    max-width: 58rem;
    position:relative;

    &__img {
        width: 50rem;
    }

    &__blast {
        position: absolute;
        top: 31rem;
        left: -9.3rem;
    }
}

