@import "../../scss/foundation/variables";

.offer__container {
    background-image: url('../../assets/subscribe.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 57.4rem;
    width: 136.6rem;
}

.offer__container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#603809;
    opacity: 80%;
    z-index: 1;
}

.offer__wrapper {
    display: flex;
    align-items: start;
    gap: 22.5rem;
    position: relative;
    color: $white;
    z-index: 2;
}

.offer {
    padding-left: 9.3rem;
    padding-top: 13.5rem;
    font-family: $play;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2.2rem;
    height: 57.4rem;

    &__img {
        padding-right: 17.3rem; // wrong based on Figma?
        z-index: 1;
        padding-top: 5.4rem;
    }

    &__margin {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

