@import './scss/foundation/_reset.scss';

.app {
    height: 100vh;
    width:100vw;
    max-width: 1366px;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    margin: 0 auto;

}