@import "../../../scss/foundation/variables";

.heading {
    font-weight: $bold;
    font-size: 5.4rem;
    color: $brown;
    font-family: $play;
    line-height: 7.2rem;

    &--white {
        color:$white;
    }
}