@import "../../scss/foundation/_variables.scss";

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1.6rem;
    padding-top: 8.2rem;
    padding-bottom: 8.2rem;


    &__title {
    
        &--small {
            font-weight: $bold;
            color: $brown;
            font-size: 3rem;
            padding-bottom: 2.4rem;
        }
    }


    // paragraph had padding-bottom: 1.6rem; and the second one 
    // padding-bottom: 0;

    &__cards {
        display: flex;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        padding-bottom: 1.6rem;
    }

    &__footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}