@import "../../../scss/foundation/variables";

.paragraph {
    font-size: 2rem;
    line-height: 3.4rem;
    color: $grey;
    font-weight: $regular;
    font-family: $play;

    &--white {
        color:$white;
    }
}