@import "../../../scss/foundation/variables";

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.1rem 9.3rem ;
    gap: 2rem;
    position: relative;
    z-index: 2;
}

.logo {
    font-size: 3.5rem;
    font-family: $clicker;
    cursor: pointer;

    &:hover {
        color: $orange;
        transition: 0.5s;
    }

    &__anchor {
        text-decoration: none;
        color: $white;
    }
}

.links {
    display: flex;
    gap: 6rem;
    font-size: 1.4rem;
}

.buttons {
    display: flex;
    gap: 3.5rem;
}

.btn__si {
    background: none;
    color:inherit;
    border: none;
    font-family: $play;
    font-size: 1.4rem;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: $orange;
    text-decoration-thickness: .3rem;
    transition: 0.2s;

    &:hover {
        text-decoration-style: dotted; 
    }
}