@import "../../../scss/foundation/variables";

.btn {
    background-color: $orange;
    border-radius: 2.4rem;
    border:none;
    padding: 1.4rem 2.7rem;
    font-weight: $bold;
    cursor: pointer;
    font-family: $play;
    transition: 0.3s;
    z-index: 2;

    &--medium {
        font-weight: $medium;
    }

    &--special {
        position: absolute;
        bottom: -2.25rem;
    }

    &:hover {
        background-color: #FFD280; 
        transform: translateY(-2px);
        box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); 
    }
}


