@import "../../../scss/foundation/variables";

.btn {
    background-color: $orange;
    border-radius: 2.4rem;
    border:none;
    padding: 1.4rem 2.7rem;
    font-weight: $bold;
    cursor: pointer;
    font-family: $play;

    &--medium {
        font-weight: $medium;
    }

    &--special {
        position: absolute;
        bottom: -2.25rem;
    }
}

