@import "../../scss/foundation/_variables.scss";

.menu {
    display: flex;
    flex-direction: column;
    font-family: $play;
    align-items: center;
    gap: 1.6rem;
    position: relative;

    &__items {
        display: flex;
        padding: 1.6rem 9.3rem;
        gap: 2rem;
    }
}

.blast_right {
    position: absolute;
    top: 50rem;
    right:0;
}